<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
<title>角色增加</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="../../../js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript"
	src="../../../bootstrap/js/bootstrap.min.js"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	src="../../../bootstrap/js/bootstrap-table.min.js"
	th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script src="../../../bootstrap/js/bootstrap-table-zh-CN.js"
	th:src="@{/bootstrap/js/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" src="../../../js/layer/layer.js"
	th:src="@{/js/layer/layer.js}"></script>
<script type="text/javascript" src="../../../js/jquery.validate.min.js"
	th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" src="../../../js/jstree.js"
	th:src="@{/js/jstree.js}"></script>
<script type="text/javascript" src="../../../js/jstree.checkbox.js"
	th:src="@{/js/jstree.checkbox.js}"></script>
<script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js" th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>

<script type="text/javascript" src="../../../js/messages_zh.min.js"
	th:src="@{/js/messages_zh.min.js}"></script>
<link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../bootstrap/css/bootstrap-table.css"
	th:href="@{/bootstrap/css/bootstrap-table.css}" />
<link rel="stylesheet" href="../../../css/font-awesome.css"
	th:href="@{/css/font-awesome.css}" />
<link href="/css/plugins/jqTreeGrid/jquery.treegrid.css"
	  th:href="@{/css/plugins/jqTreeGrid/jquery.treegrid.css}" rel="stylesheet">
<link href="/css/plugins/jsTree/style.min.css"
	  th:href="@{/css/plugins/jsTree/style.min.css}" rel="stylesheet">

<style type="text/css">
.form_div {
	margin-top: 20px;
}

body {
	overflow-x: hidden;
}

.form_button {
	margin-right: 50px;
}

.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.m-t {
	margin-top: 15px;
}

form label.error {
	/* width: 200px;
	margin-left: 8px; */
	color: Red;
}
</style>
</head>

<body>
	<div class="wrapper wrapper-content form_div">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="add_role_form">
							<!--<input type="hidden" id="add_cust_id" name="userId" />-->
							<input id="menuIds" name="menuIds" type="hidden">
							<div class="form-group">
								<label for="add_name" class="col-sm-3 control-label">角色名</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="add_name"
										name="sysRole.roleName" placeholder="角色名" />
								</div>
							</div>
							<div class="form-group">
								<label for="add_remark" class="col-sm-3 control-label">备注</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="add_remark"
										name="sysRole.remark" placeholder="备注" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">菜单权限：</label>
								<div class="col-sm-8">
									<div id="menuTree"></div>
								</div>
							</div>
							<div class="form-group">
								<div class=" col-sm-offset-4   ">
									<button type="submit" class="btn btn-success form_button">提交</button>
									<button type="button" class="btn  form_button" id="resetButton">重置</button>
									<button type="button" class="btn btn-inverse"
										onclick="closeWin()">取消</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
        getMenuTreeData();
		// 初始化内容
		var validator = validateRule();
		$("#resetButton").click(function() {
			validator.resetForm();
			$("#add_role_form")[0].reset();

            var instance = $('#menuTree').jstree(true);
            instance.deselect_all();
		});
	});
	
	function getCheckedMenus(){
        var instance = $('#menuTree').jstree(true);
        var menuIds = instance.get_selected();//获取完全选中的节点
		//获取半选中的节点
		$("#menuTree").find(".jstree-undetermined").each(function (i,element) {
			menuIds.push($(element).closest(".jstree-node").attr("id"));
        });
		return menuIds;
	}
	function saveRole() {
		$("#menuIds").val(getCheckedMenus());
		$.ajax({
			url:'add',
			dataType:'json',
			method:'post',
			data : $("#add_role_form").serialize(),
			success:function(data){
				if(data.code==0){
					parent.layer.msg("添加角色成功");
					parent.reLoad();
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					parent.layer.close(index); //再执行关闭   
				}else{
					parent.layer.alert(data.msg);
				}
			},
			error : function(request) {
				parent.layer.alert("Connection error");
				
			}
			
		});
	}


	function validateRule() {
		var icon = "<i class='fa fa-times-circle'></i> ";
		var validator = $("#add_role_form").validate({
			rules : {
				"sysRole.roleName" : {
					required : true
				},
				"sysRole.remark" : {
					required : false

				}
			},
			messages : {
				"sysRole.roleName" : {
					required : icon + "请输入角色名"
				},
				"sysRole.remark" : {
					required : icon + "请输入备注"
				}
			},
			submitHandler : function(form) {
                saveRole();
			}
		});
		return validator;
	}

	function closeWin() {
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭   
		//		alert(111)
	}

	function restForm() {
		$("#add_role_form")[0].reset();
	}
	
	function getMenuTreeData() {
        $.ajax({
            type : "POST",
            url : "getAllMenu",
            success : function(menuTree) {
                loadMenuTree(menuTree);
            }
        });
    }
    function  loadMenuTree(menuTree) {
        $('#menuTree').jstree({
            'core' : {
                'data' : menuTree
            },
            "checkbox" : {
                "three_state" : true,
            },
            "plugins" : [ "wholerow", "checkbox" ]
        });
    }
</script>

</html>