<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../bootstrap/js/bootstrap.min.js"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">客户管理</h1>
				<a href="#" onclick="showInfo()">showAll</a>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-inline" th:action="@{/customer/list}"
					method="get">
					<div class="form-group">
						<label for="customerName">客户名称</label> <input type="text"
							class="form-control" id="customerName" th:value="${custName}"
							name="custName">
					</div>
					<div class="form-group">
						<label for="customerFrom">客户来源</label> <select
							class="form-control" id="customerFrom" placeholder="客户来源"
							name="custSource">
							<option value="">--请选择--</option>
							<option th:each="item : ${fromType}" th:value="${item.dictId}"
								th:text="${item.dictItemName}"
								th:selected="${item.dictId == custSource}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="custIndustry">所属行业</label> <select
							class="form-control" id="custIndustry" name="custIndustry">
							<option value="">--请选择--</option>
							<option th:each="item : ${industryType}" th:value="${item.dictId}"
								th:text="${item.dictItemName}"
								th:selected="${item.dictId == custIndustry}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="custLevel">客户级别</label> <select class="form-control"
							id="custLevel" name="custLevel">
							<option value="">--请选择--</option>!
							<option th:each="item : ${levelType}" th:value="${item.dictId}"
								th:text="${item.dictItemName}" th:selected="${item.dictId == custLevel}"></option>
							<!-- <c:forEach items="${levelType}" var="item">
									<option value="${item.id}"<c:if test="${item.id == custLevel}"> selected</c:if>>${item.itemName }</option>
								</c:forEach> -->
						</select>
					</div>
					<button type="submit" class="btn btn-primary">查询</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">客户信息列表</div>
					<!-- /.panel-heading -->
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>客户名称</th>
								<th>客户来源</th>
								<th>客户所属行业</th>
								<th>客户级别</th>
								<th>固定电话</th>
								<th>手机</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row:${page.rows}">
								<td th:text="${row.custId}"></td>
								<td th:text="${row.custName}"></td>
								<td th:text="${row.custSource}"></td>
								<td th:text="${row.custIndustry}"></td>
								<td th:text="${row.custLevel}"></td>
								<td th:text="${row.custPhone}"></td>
								<td th:text="${row.custMobile}"></td>
								<!-- onclick="editCustomer(${row.cust_id})" -->
								<td><a href="#" class="btn btn-primary btn-xs"
									data-toggle="modal" data-target="#customerEditDialog"
									th:onclick="'javascript:editCustomer(\''+${row.custId}+'\')'">修改</a>

									<a href="#" class="btn btn-danger btn-xs"
									th:onclick="'javascript:deleteCustomer(\''+${row.custId}+'\')'">删除</a></td>
							</tr>
						</tbody>
						
					</table>
					<nav aria-label="Page navigation">
							<ul class="pagination">
								<li><a th:href="@{/customer/list?page=1}">首页</a></li> 
								<li><a th:href="@{'/customer/list?page='+*{page.page-1==0?1:page.page-1}}" href="" aria-label="Previous"> <span
										aria-hidden="true">&laquo;</span>
								</a></li>
								<li th:each="i : page.totalPages"><a th:href="@{'/customer/list?page='+i}">1</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a th:href="@{'/customer/list?page='+*{page.page+1 > page.totalPages?page.totalPages:page.page+1}}" aria-label="Next"> <span
										aria-hidden="true">&raquo;</span>
								</a></li>
								<li><a th:href="@{'/customer/list?page='+*{page.totalPages}}">尾页</a></li> 
							</ul>
						</nav>
					<div class="col-md-12 text-right">
						<czk:page th:url="@{/customer/list}" />
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>

	<!-- 客户编辑对话框 -->
	<div class="modal fade" id="customerEditDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改客户信息</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="edit_customer_form">
						<input type="hidden" id="edit_cust_id" name="custId" />
						<div class="form-group">
							<label for="edit_customerName" class="col-sm-2 control-label">客户名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_customerName"
									placeholder="客户名称" name="custName">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_customerFrom"
								style="float: left; padding: 7px 15px 0 27px;">客户来源</label>
							<div class="col-sm-10">
								<select class="form-control" id="edit_customerFrom"
									placeholder="客户来源" name="custSource">
									<!-- <option th:each="item : ${fromType}" th:value="${item.id}"
								th:text="${item.itemName}" 
								th:selected="${item.id == custSource}"></option> -->
									<option value="">--请选择--</option>
									<option th:each="item:${fromType}" th:value="${item.dictId}"
										th:text="${item.dictItemName}"
										th:selected="${item.dictId==custSource}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="edit_custIndustry"
								style="float: left; padding: 7px 15px 0 27px;">所属行业</label>
							<div class="col-sm-10">
								<select class="form-control" id="edit_custIndustry"
									name="custIndustry">
									<option value="">--请选择--</option>
									<option th:each="item:${industryType}" th:value="${item.dictId}"
										th:text="${item.dictItemName}"
										th:selected="${item.dictId==custIndustry}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="edit_custLevel"
								style="float: left; padding: 7px 15px 0 27px;">客户级别</label>
							<div class="col-sm-10">
								<select class="form-control" id="edit_custLevel"
									name="custLevel">
									<option value="">--请选择--</option>
									<option th:each="item:${levelType}" th:value="${item.dictId}"
										th:text="${item.dictItemName}" th:selected="${item.dictId==custLevel}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="edit_linkMan" class="col-sm-2 control-label">联系人</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_linkMan"
									placeholder="联系人" name="custLinkman">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_phone" class="col-sm-2 control-label">固定电话</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_phone"
									placeholder="固定电话" name="custPhone">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_mobile" class="col-sm-2 control-label">移动电话</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_mobile"
									placeholder="移动电话" name="custMobile">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_zipcode" class="col-sm-2 control-label">邮政编码</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_zipcode"
									placeholder="邮政编码" name="custZipcode">
							</div>
						</div>
						<div class="form-group">
							<label for="edit_address" class="col-sm-2 control-label">联系地址</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="edit_address"
									placeholder="联系地址" name="custAddress">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						onclick="updateCustomer()">保存修改</button>
				</div>
			</div>
		</div>
	</div>


	<script th:inline="javascript"> var ctx = [[@{/}]] ; </script>
	<script type="text/javascript">
	function showInfo(){
		$.ajax({
			type:"get",
			url:ctx+"customer/findAll",
			data:{},
		success:function(data){
			alert(data);
		}
		});
	}
	
	function editCustomer(id) {
		$.ajax({
			type:"get",
			url:ctx+"/customer/edit",
			data:{"id":id},
			success:function(data) {
				$("#edit_cust_id").val(data.custId);
				$("#edit_customerName").val(data.custName);
				$("#edit_customerFrom").val(data.custSource)
				$("#edit_custIndustry").val(data.custIndustry)
				$("#edit_custLevel").val(data.custLevel)
				$("#edit_linkMan").val(data.custLinkman);
				$("#edit_phone").val(data.custPhone);
				$("#edit_mobile").val(data.custMobile);
				$("#edit_zipcode").val(data.custZipcode);
				$("#edit_address").val(data.custAddress);
				
			}
		});
	}
	function updateCustomer() {
		$.post(ctx+"/customer/update",$("#edit_customer_form").serialize(),function(data){
			alert("客户信息更新成功！");
			window.location.reload();
		});
	}
	function deleteCustomer(id) {
		if(confirm('确实要删除该客户吗?')) {
			$.post(ctx+"customer/delete",{"id":id},function(data){
				alert("客户删除更新成功！");
				window.location.reload();
			});
		}
	}
	/* $(function(){
		
	}) */
</script>
</body>


</html>